{% extends "header.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form class="form-signup" method="post">
                    <h2 class="form-signup-heading">Login</h2>
                    <div class="form-group">
                        <label for="inputUsername" class="sr-only">Username</label>
                        <input type="text" id="inputUsername" class="form-control" name="username" placeholder="Username" value="{{username}}" required autofocus>  <label for="inputEmail" class="sr-only">Email address</label>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" value="" required>
                        <p> {{error}} </p>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-MD btn-success" type="submit">Login</button>
                        <button href="/" class="btn btn-md btn-danger">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
